<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Film Vault</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <header>
        <h1>🎬 Film Vault</h1>
        <p>Manage your favorite movies in one place</p>
    </header>

    <main>
        <section class="search-section">
            <input type="text" placeholder="Search movies..." />
        </section>

        <section class="add-movie-section">
            <a href="/addMovie"><button>Add Movie</button></a>
        </section>

        <section class="movie-list">
            <h1>Your Movies</h1>
            <ul>
                <% for (let i = 0; i < movies.length; i++) { %>
                    <div class="movie-entry">
                        <h2> <%= [movies[i].title]%> - <%= [movies[i].year] %></h2>
                        <h3> <%= [movies[i].director] %></h3>
                        <hr>
                        <p> <%= [movies[i].comments] %></p>
                    </div>
                <%     } %>
            </ul>
        </section>
    </main>

    <footer>
    </footer>
</body>
</html>
