<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Vault</title>
    <link rel="stylesheet" href="/styles/intro.css">
    <link rel="icon" href="/images/favicon.png">
</head>
<body>

    <section class="vault-intro">
        <h1>🎬 Welcome to FilmVault</h1>
        <p>
          FilmVault is your cinematic journal - shared shelves, private stories<br>
          Explore the full community vault when signed out.<br> 
          Sign in, and it's all about you: add, rate, and reflect on the movies that matter to you.
        </p>

        <button class="vault-continue" onclick="enterVault()">Enter Vault</button>
      </section>

      <script>
        function enterVault() {
          const section = document.querySelector('.vault-intro');
          section.classList.add('fade-out');
          sessionStorage.setItem('seenIntro', 'yes');

          // Redirects after a fade animation finishes (set to 600ms)
          setTimeout(() => {
            window.location.href = "/";
          }, 600);
        }

      </script>
      

</body>
</html>