body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
    border-bottom: 4px solid #e50914;
}

header h1 {
    margin-bottom: 5px;
}

header h1 a {
    text-decoration: none;
    color: inherit; 
  }
  
header h1 a:hover {
    text-decoration: underline;
}



main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #1f1f1f;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

.movie-add form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie-add input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.movie-add select {
    padding: 7px 7px 7px 4px;
    border-radius: 5px;
    border: none;
    color: grey;
}

.movie-add option {
    color: #121212;
}

.movie-add textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px;
    border-radius: 5px;
    border: none;
}

.back-button-section {
    background: none;  
    padding: 8px 11px;  
    margin: 0;       
    text-align: left;  
}


.button-back {
    display: inline-block;
    padding: 4px 10px;         
    font-size: 0.9rem;        
    text-decoration: none;    
    color: #e50914;     
    background-color: transparent;
    border: 1px solid #e50914; 
    border-radius: 4px;      
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 5px 0;        
}

.button-back:hover,
.button-back:focus {
    background-color: #e50914;
    color: #ffffff;            
}

.movie-add button {
    padding: 10px;
    background-color: #e50914;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}

.movie-add button:hover {
    background-color: #f6121d;
}

.movie-list ul {
    list-style: none;
    padding-left: 0;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #888;
}
